<%= render partial: 'books/list', locals: { user: @user } %>
<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
<% @books.each do |book| %>
<tr>
  <td>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.user.get_profile_image(100, 100) %>
  <% end %>
  </td>
  <td><%= book.title %></td>
  <td><%= book.body %></td>
</tr>

<% end %>
  </tbody>
</table>