<!DOCTYPE html>
<html>
  <script src="https://kit.fontawesome.com/f1ca8f76cd.js" crossorigin="anonymous"></script>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
    <table>
      <tr>
      <td><%= link_to "投稿フォーム", @book_path %></td>
      </tr>
      <tr>
        <td class="fa-sharp fa-solid fa-house-chimney"></td>
        <td><%= link_to "Home", user_path(current_user.id) %></td>
      </tr>
      <tr>
        <td class="fa-solid fa-users"></td>
      　<td><%= link_to "User", users_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Books", books_path %></td>
      </tr>
      <tr>
        <td><%= link_to "Log out", destroy_user_session_path, method: :delete %></td>
      </tr>
    <% else %>
      <li>
        <%= link_to "Sign_in", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log_in", new_user_session_path %>
      </li>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
